.game {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 10px;
    
}

.body {
    display: flex;
    padding-top: 10px;
    background-color: floralwhite;
}

.help {
    font-size: 16px;
    color: #666;
    margin: 10px;
    text-align: center;
}

.left {
    text-align: center;
    width: 50%;
    border: thin solid #ddd;
}

.right {
    text-align: center;
    padding: 10px;
    width: 50%;
    border: thin solid #ddd;
}

.star {
    display: inline-block;
    margin: 0 15px;
    padding-top: 10px;
}

.star:after {
    content: "\2605";
    font-size: 45px;
}

.number {
    background-color: #eee;
    border: thin solid #ddd;
    width: 45px;
    height: 45px;
    margin: 10px;
    font-size: 25px;
}

.number:focus,
.number:active {
    outline: none;
    border: thin solid #ddd;
}
.timer {
    color: #666;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 3px;
}
.timer2 {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 3px;
    animation:blinkingText linear alternate 1.5s;
}
@keyframes blinkingText{
    0%{     color: red;    }
    49%{    color: red; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}
.game-done .message {
    font-size: 200%;
    font-weight: bold;
    margin-top: 50px;
}

.game-header {
     color: rgb(123, 145, 10);
     font-size: 250%;
     font-weight: bold;
     margin: 15px;
}
.playagain {
    margin-top: 50px;
    font-size: 100%;
    font-weight: bold;
}